* {
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container-story {
    width: 50rem;
    max-width: 80%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 1.5rem;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.img-container img {
    width: 80%;
    object-fit: cover;
}

.option {
    cursor: pointer;
}


.option:hover {
    background-color: lightgreen;
}
